body {
  background: transparent;
  overflow: hidden;
}

/* #alien {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
  animation: float 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
} */


#alien {
  position: fixed;
  bottom: 20px;
  width: 110px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.15s linear;
  pointer-events: auto;
}